body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f7f7f7;
}
.main-contain {
  margin-top: 160px;
}

.movie-list {
  margin-bottom: 30px;
}

.movie-list .card {
  margin-bottom: 30px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.16);
}

.movie-list .card p {
  text-align: left;
}

.movie-list .card-body {
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s ease-out;
  transition-property: visibility, opacity;
}

.movie-list .card:hover .card-body {
  visibility: visible;
  opacity: 1;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.16);
  z-index: 2;
}

.header .container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.search-box {
  clear: both;
  overflow: auto;
}
.search-box input {
  font-size: 18px;
  padding: 5px 20px 5px 10px;
  width: 30%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 50px;
  transition: 0.2s ease-in;
  transition-property: width;
}
.search-box input:focus {
  width: 50%;
}

.search-box button {
  position: absolute;
  outline: none;
  font-size: 14px;
  color: #fff;
  top: 50%;
  margin-top: -20px;
  right: 20px;
  width: 70px;
  height: 40px;
  background-color: #5CB85C;
  border: none;
  border-radius: 5px;
}

.search-box button:hover {
  background-color: #449d44;
  border-color: #419641;
}

.header .logo {
  max-width: 70px;
  margin: 0 auto;
  height: auto;
}

.header .logo .App-logo {
  height: auto;
}

@media screen and (min-width: 768px) {
  .header .logo {
    margin: 0;
    text-align: left;
  }
  .main-contain {
    margin-top: 120px;
  }
  .search-box input {
    float: right;
  }
  .movie-list .card-body {
    visibility: hidden;
    opacity: 0;
  }
}