@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f7f7f7;
}
.App {
  position: relative;
}
a:hover {
  text-decoration: none !important;
  color: transparent !important;
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fafafa;
  opacity: 0.8;
  z-index: 2;
}
.loading div {
  position: absolute;
  top: 40%;
  right: 50%;
  transform: trans(-50%, -40%);
}
.modal-wrap .loading {
  background-color: rgba(0, 0, 0, 0.8);
}
.main-contain {
  margin-top: 100px;
  margin-bottom: 50px;
}

.movie-list {
  margin-bottom: 30px;
}

.movie-list .card {
  margin-bottom: 30px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.16);
}

.movie-list .card p {
  text-align: left;
}

.movie-list .card-body {
  color: #888;
  transition: 0.5s ease-out;
  transition-property: visibility, opacity;
}
.movie-list .card-title {
  color: rgba(0,0,0,0.8)
}
.movie-list .card:hover .card-body {
  visibility: visible;
  opacity: 1;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.16);
  z-index: 2;
}

.header .container {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.search-box {
  clear: both;
  overflow: auto;
}
.search-box input {
  font-size: 18px;
  outline: none;
  float: right;
  width: 45%;
  padding: 5px 20px 5px 10px;
  margin-top: 5px;
  border-radius: 50px;
  border: 1px solid #ccc;
  transition: 0.2s ease-in;
  transition-property: width;
}
.search-box input:focus {
  width: 60%;
}

.search-box button {
  position: absolute;
  outline: none;
  font-size: 14px;
  color: #fff;
  top: 50%;
  margin-top: -20px;
  right: 20px;
  width: 70px;
  height: 40px;
  background-color: #5CB85C;
  border: none;
  border-radius: 5px;
}

.search-box button:hover {
  background-color: #449d44;
  border-color: #419641;
}

.header .logo {
  display: block;
  max-width: 70px;
  height: auto;
}

.header .logo .App-logo {
  height: auto;
}
.sort-compo {
  text-align: right;
  margin-bottom: 30px;
}
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.scroll-top .btn {
  border-radius: 50%;
}
.scroll-top .btn:hover {
  border: 3px solid #007bff;
}
.paging-wrap .btn {
  border-radius: 50%;

}
.paging-wrap .page-number {
  color: #707070;
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
}
.modal.show .modal-dialog {
  margin-top: 0;
}

.modal-open .modal-backdrop.show {
  opacity: 1;
}

.slick-slider .slick-prev {
  left: -40px;
}
.slick-slider .slick-next {
  right: -20px;
}

.slick-slider .slick-arrow:before {
  font-size: 40px;
}


.modal .modal-content {
  background-color: transparent;
  border: none;
  border-radius: none;
}
.modal-open .modal {
  overflow: hidden !important;
}
.modal .modal-dialog,
.modal .modal-content {
  height: 100%;
}
.modal .modal-body {
  max-width: 100%;
  padding: 0;
}
.trailer {
  position: relative;
	padding-bottom: 56.25%;
	height: 0;
}
.trailer iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 768px) {
  .header .logo {
    margin: 0;
    text-align: left;
  }
  .header .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-contain {
    margin-top: 120px;
  }
  .search-box input {

    width: 40%
  }
  .search-box input:focus {
    width: 50%;
  }

  .movie-list .card-body {
    visibility: hidden;
    opacity: 0;
  }
  .movie-list .card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
  }

  .movie-list .card-title {
    color: #fff;
  }
  .modal .modal-dialog {
    max-width: 90%;
    margin: 0 auto;
  }

  .slick-slider .slick-slide {
    opacity: .6;
    padding: 20px 15px 0 15px;
    transition: padding 0.3s ease-in-out;
  }
  .slick-slider .slick-slide.slick-current {
    opacity: 1;
    padding: 0;
  }
  .modal .modal-body {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 767px) {
  .slick-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}